* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --light-theme-background: #d5bdaf;
    --dark-theme-background: #22223b;
    --dark-theme-button-text: #f5ebe0;
}

.container {
    background-color: var(--light-theme-background);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
}

.dark-container {
    background-color: var(--dark-theme-background);
}

.dark-container button {
    color: var(--dark-theme-button-text);
}

.compact-container {
    height: 100vh;
}

header {
    grid-area: 1 / 1 / 2 / 9;
    margin: auto;
    padding: 6em 0;
    top: 0;
}

.compact-header {
    padding: 3em 0 3em 0;
}

main {
    grid-area: 2 / 1 / 3 / 9;
}

.compact-main {
    grid-area: 2 / 3 / 3 / 7;
}

.orca-grid {
    display: grid;
    grid-gap: 0.3125em;
    grid-template-columns: repeat(4, 1fr);
    margin: 2.5em;
    position: relative;
}

.compact-orca-grid {
    margin: 0 2.5em;
}

.orca-grid img {
    width: 100%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.orca-grid img:hover {
    border: 2px solid var(--light-theme-background);
    opacity: 0;
}

button {
    border: none;
    background: none;
}

button:hover {
    text-decoration: underline;
}

.solid-grid img {
  background: transparent;
  position: relative;
  transition: transform 1.2s;
  transform-style: preserve-3d;
  animation: fadeIn ease 1.5;
  -webkit-animation: fadeIn ease-in 1.5s;
  -moz-animation: fadeIn ease-in 1.5s;
  -o-animation: fadeIn ease-in 1.5s;
  -ms-animation: fadeIn ease-in 1.5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.solid-grid img:hover {
    border: 2px solid var(--dark-theme-background);
    opacity: 1;
    transform: rotateY(180deg);
}